<!-- ? -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<!--  -->

<div class="title">
    <h1>Libros Menos vistos</h1>
    <img src="assets/icon2.svg">
</div>

<div class="square1" (click)="book2()">
    <img src="assets/image6.jpg">
    <h1>Cien años de soledad</h1>
    <h3>Autor: Gabriel García Márquez</h3>
    <p>La historia está centrada en la <br> familia Buendía, que vive en el <br> ficticio pueblo de Macondo, un <br> lugar aislado y mágico en <br> Colombia.</p>
</div>

<div class="square2">
    <img src="assets/image7.webp">
    <h1>Crimen y castigo</h1>
    <h3>Autor: Fyodor Dostoevsky</h3>
    <p>Crimen y castigo de Fyodor <br> Dostoevsky sigue a Rodion <br> Raskólnikov, un joven estudiante <br> que asesina a una anciana usurera, <br> convencido de que puede justificar <br> el crimen por un bien mayor.</p>
</div>

<div class="square3">
    <img src="assets/image8.jpg">
    <h1>La sombra del viento</h1>
    <h3>Autor: Carlos Ruiz Zafón</h3>
    <p>La sombra del viento de Carlos Ruiz Zafón es un misterio literario ambientado en la Barcelona de la posguerra.</p>
</div>