<!-- ? -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<!--  -->

<div class="title">
    <h1>Libros Más Reservados</h1>
    <img src="assets/icon3.svg">
</div>

<div class="square1" (click)="book3()">
    <img src="assets/image9.jpg">
    <h1>Harry Potter y la piedra filosofal</h1>
    <h3>Autor: J.K. Rowling</h3>
    <p>La historia sigue a Harry Potter, un niño huérfano que vive con sus crueles tíos hasta que descubre que es un mago.</p>
</div>

<div class="square2">
    <img src="assets/image10.jpg">
    <h1>El señor de los anillos: <br> La comunidad del anillo</h1>
    <h3>Autor: J.R.R. Tolkien</h3>
    <p>La historia sigue a Frodo Bolsón, un hobbit que recibe un anillo mágico de su tío Bilbo.</p>
</div>

<div class="square3">
    <img src="assets/image11.jpg">
    <h1>La rueda del tiempo: El ojo del mundo</h1>
    <h3>Autor: Robert Jordan</h3>
    <p>Un joven de un pueblo tranquilo, <br> que se ve arrastrado a una <br> peligrosa aventura cuando su <br> hogar es atacado por fuerzas <br> oscuras.</p>
</div>

<div class="square4">
    <img src="assets/image12.webp">
    <h1>El nombre del viento</h1>
    <h3>Autor: Patrick Rothfuss</h3>
    <p>Un hombre legendario que, en su vejez, cuenta su vida a un cronista.</p>
</div>