<!-- ? -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<!--  -->

<div class="title">
    <h1>Libros Más vistos</h1>
    <img src="assets/icon1.svg">
</div>

<div class="square1" (click)="book1()">
    <img src="assets/image1.jpg">
    <h1>Ulises</h1>
    <h3>Autor: James Joyce</h3>
    <p>Ulises de James Joyce es una <br> novela moderna publicada en 1922, <br> y es una de las más influyentes del siglo XX. </p>
</div>

<div class="square2">
    <img src="assets/image2.webp">
    <h1>Don Quijote de la Mancha</h1>
    <h3>Autor: Miguel de Cervantes</h3>
    <p>Don Quijote de la Mancha de <br> Miguel de Cervantes es una <br> novela que sigue las aventuras de <br> un caballero, Don Quijote, y su fiel escudero, Sancho Panza. </p>
</div>

<div class="square3">
    <img src="assets/image3.jpg">
    <h1>La Odisea</h1>
    <h3>Autor: Homero</h3>
    <p>La Odisea de Homero narra el <br> regreso a casa del héroe griego <br> Odiseo (Ulises) después de la <br> Guerra de Troya. </p>
</div>

<div class="square4">
    <img src="assets/image4.jpg">
    <h1>El retrato de Dorian Gray</h1>
    <h3>Autor: Oscar Wilde</h3>
    <p>El retrato de Dorian Gray de Oscar Wilde cuenta la historia de Dorian Gray, un joven hermoso cuya <br> imagen en un retrato envejece en <br> su lugar mientras él mantiene su juventud.</p>
</div>

<div class="square5">
    <img src="assets/image5.jpg">
    <h1>El cantar de mio Cid</h1>
    <h3>Autor: Anónimo</h3>
    <p>El Cantar de Mio Cid es una epopeya medieval anónima que narra las hazañas del caballero Rodrigo Díaz de Vivar, conocido como El Cid.</p>
</div>