<!-- ? -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<!--  -->

<div class="container" (click)="onLogin()">
    <div class="book">
        <img src="assets/libro.svg" >
    </div>

<div class="title">
    <h1>BiblioTech</h1>
</div>

<div class="subtitle">
    <p>Tu biblioteca digital</p>
</div>
</div>

