<!-- ? -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<!--  -->

<div class="title">
    <h1>Libros Nuevos</h1>
    <img src="assets/icon5.svg">
</div>

<div class="square1" (click)="book5()">
    <img src="assets/image19.webp">
    <h1>1984</h1>
    <h3>Autor: George Orwell</h3>
    <p>Una distopía política que presenta <br> un mundo totalitario donde la libertad y la privacidad han desaparecido.</p>
</div>

<div class="square2">
    <img src="assets/image20.jpg">
    <h1>El psicoanalista</h1>
    <h3>Autor: John Katzenbach</h3>
    <p>Un psicoanalista recibe una <br> amenaza de muerte de un <br> desconocido y tiene que descifrar <br> las pistas que le dejan para <br> salvar su vida.</p>
</div>