<!-- ? -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<!--  -->

<div class="container">
<div class="title">
    <h1>BiblioTech Digital</h1>
</div>
</div>

<div class="subtitle">
 <h1>Categorías </h1>
</div>

<div class="square1" (click)="square()">
    <img src="assets/icon1.svg">
   <h1>Más vistos</h1>
   <p>Número De <br> Libros: 5</p>
</div>

<div class="square2">
    <img src="assets/icon2.svg">
   <h1>Menos vistos</h1>
   <p>Número De <br> Libros: 3</p>
</div>

<div class="square3">
    <img src="assets/icon3.svg">
   <h1>Más reservados</h1>
   <p>Número De <br> Libros: 4</p>
</div>

<div class="square4">
    <img src="assets/start.svg">
   <h1>Mejor calificados</h1>
   <p>Número De <br> Libros: 6</p>
</div>

<div class="square5">
    <img src="assets/icon5.svg">
   <h1>Libros Nuevos</h1>
   <p>Número De <br> Libros: 2</p>
</div>