<!-- ? -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<!--  -->

<div class="title">
    <h1>Libros Mejor calificados</h1>
    <img src="assets/start.svg">
</div>

<div class="square1" (click)="book4()">
    <img src="assets/image13.jpg">
    <h1>Por voluntad propia</h1>
    <h3>Autor: Mathilde Forget</h3>
    <p>Este libro autobiográfico aborda <br> la desconfianza hacia las mujeres que denuncian injusticias.</p>
</div>

<div class="square2">
    <img src="assets/image14.jpg">
    <h1>Deseo disidente. Las políticas del placer</h1>
    <h3>Autor: Anneke Necro</h3>
    <p>Desmonta mitos sobre el placer humano y las luchas colectivas en este ensayo que invita a reflexionar sobre la sexualidad y la sociedad.</p>
</div>

<div class="square3">
    <img src="assets/image15.jpg">
    <h1>El dios de los <br> bosques</h1>
    <h3>Autor: Liz Moore</h3>
    <p>Nos sumerge en un thriller de suspense y misterio que ha cautivado a los lectores, siendo galardonado en los Goodreads Choice Awards de 2024.</p>
</div>

<div class="square4">
    <img src="assets/image16.webp">
    <h1>Una historia divertida</h1>
    <h3>Autor: Emily Henry</h3>
    <p>Presenta una novela romántica que ha sido reconocida por cuarta vez consecutiva en su categoría, consolidándola como una autora destacada en el género.</p>
</div>

<div class="square5">
    <img src="assets/image17.webp">
    <h1>Un duelo interminable</h1>
    <h3>Autor: José Enrique Ruiz Domènec</h3>
    <p>Ofrece un ensayo histórico que <br> revisa duelos intelectuales entre figuras prominentes del siglo XX.</p>
</div>

<div class="square6">
    <img src="assets/image18.jpg">
    <h1>Una cena en Roma</h1>
    <h3>Autor: Andreas Viestad</h3>
    <p>Explora la historia de los ingredientes en un menú romano, ofreciendo una mirada única a la gastronomía y cultura italianas.</p>
</div>